/* variables */
:root {
  --jpyk-color-wasm-purple: #654ff0;
  --jpyk-color-jupyter-orange: #f37726;
}

html[data-theme='dark'] {
  --pst-color-border: #444;
  --bs-body-bg: var(--pst-color-on-background) !important;
  --bs-border-color: var(--pst-color-border);
}

/* pydata-sphinx-them */
.bd-main .bd-content .bd-article-container {
  max-width: 100%;
}

.bd-page-width {
  max-width: 100%;
}

html[data-theme='dark'] .bd-content div.cell_output .text_html,
html[data-theme='dark'] .bd-content div.cell_output img {
  background: unset !important;
  color: unset !important;
}

div.cell_output table {
  color: unset !important;
}

div.cell_output tbody tr:nth-child(odd) {
  background-color: unset !important;
}

.bd-sidebar-primary .sidebar-primary-items__end {
  margin: 0;
}

.bd-sidebar-primary {
  padding-top: 1rem;
}

.sidebar-primary-item {
  padding-top: 0 !important;
  padding-bottom: 1rem;
}

/* mermaid */
.jp-Mermaid > .mermaid,
.jp-Mermaid:not(.jp-RenderedMermaid) {
  display: none;
}

.jp-Mermaid > svg {
  display: block;
  margin: auto;
}

.jp-RenderedMermaid > .jp-mod-warning {
  width: auto;
  padding: 10px;
}

.jp-RenderedMermaid > .jp-mod-warning details > pre {
  margin-top: 1em;
}

.jp-RenderedMermaid > .jp-mod-warning summary > pre {
  display: inline-block;
}

/* jsonschema */
table.jsonschema td {
  padding: 0.125em;
}

table.jsonschema td:first-child ul {
  font-family: var(--pst-font-family-monospace);
  list-style: none;
  font-weight: bold;
}

table.jsonschema h2 {
  font-family: var(--pst-font-family-monospace);
}

/* mermaid */
.jp-Mermaid p,
.mermaid p,
.mermaid-temp p {
  color: inherit;
  margin: 0;
  padding: 0;
}

.flowchart-link:hover {
  stroke: var(--pst-color-primary) !important;
  stroke-width: 8px !important;
  transition: stroke stroke-width 0.5s;
}

/* form sidebar*/

form#propose button {
  width: 100%;
  margin: 0.5rem 0 1rem;
}
form#propose textarea {
  width: 100%;
  min-height: 10rem;
}
form#propose textarea:placeholder-shown ~ button {
  display: none;
}
/* form main */
.show-repo-label {
  padding-right: 1rem;
}

form#new input[type='text'] {
  width: 100%;
}

form#new select {
  width: 100%;
  height: 2rem;
}

form#new code {
  text-wrap: nowrap;
}

form#new input[id*='merge_with'] {
  word-wrap: break-word;
  word-break: break-all;
}

form#new table {
  width: 100%;
}

form#new table label {
  display: block;
}

form#new input[pattern]:invalid {
  border: solid 1px var(--jpyk-color-jupyter-orange);
  color: solid 1px var(--jpyk-color-jupyter-orange);
}

form#new input[pattern]:not(:invalid) ~ label {
  display: none;
}

form#new th,
form#new td {
  vertical-align: top;
}

/* work sidebar */
.work-sidebar {
  border: solid 2px var(--jpyk-color-wasm-purple);
  padding: 0;
}

.work-sidebar-fail {
  border-color: var(--jpyk-color-jupyter-orange);
}

.work-sidebar-header {
  padding: 0.5rem;
  background-color: var(--jpyk-color-wasm-purple);
  color: #fff;
}

.work-sidebar-fail .work-sidebar-header {
  background-color: var(--jpyk-color-jupyter-orange);
}

.work-sidebar-content {
  padding: 1em;
  padding-bottom: 0;
}

.work-sidebar .btn {
  padding: 1rem;
}
