name: pages

on:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  JPYK_ALLOW_NO_CONFIG: 1
  JPYK_SELF_DIST: dist/SHA256SUMSss

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v4
      - uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: .github/conda-linux-64.lock
          miniforge-variant: Mambaforge
          use-mamba: true
      - run: doit bootstrap
      - run: doit self:js:*
      - run: doit self:build:*
      - run: doit shave:git:*
        env:
          JPYK_LOG_NAME: git
      - run: doit shave
        env:
          JPYK_LOG_NAME: shave
      - run: doit self:docs:*
      - uses: actions/upload-pages-artifact@v1
        with:
          path: build/docs
      - if: failure()
        uses: actions/upload-artifact@v3
        with:
          path: work/logs

  deploy:
    needs: build
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - id: deployment
        uses: actions/deploy-pages@v1
